*{
    font-family: 'Roboto', sans-serif;
    font-size: 30px; 
}

body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
/*    background-image: linear-gradient(to right, red, white, green);*/
    height: 100%;
    color: #00181e;
}


.main-body {
    margin-top: 7%;
    display: grid;
    justify-items: end;
    /*  
    height: 100%;
    grid-template-columns: 1fr;
*/
    grid-template-rows: auto;
    justify-content: space-around;
    align-content: center;
    background-color: transparent;
    

}

.task {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-column: 1 / -1;
    border: 1px solid #00181e;
    width: 550px;
    height: 90px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}
.task.input{
    align-content: center;
    justify-content: center;
    color: white !important;
    background-color: #00181e;
}
input{
    color: white !important;
    background-color: #00181e;
    border: none;
}
input:focus{
    border:none;
    outline: none;
}


.task-header {
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.add-task-btn {
    color: white;
    background-color: #bda388;
    border-left: 1px solid #00181e;
}

.delete-task {

    color: transparent;
    background-color: transparent;
}

.delete-task:hover {
    color: #ededed;
    background-color: #00181e;
}

.text {
    margin-left: 15px;
    text-transform: uppercase;
}

