

/********************************************************
VARIABLES
********************************************************/
$primaryDarkCollor: #241F1F;
$mainFrameCollor:#FFFFFF;
$shadowDarkCollor: rgba(36,31,31,0.44);
$headerFontStyle: 'Roboto Condensed', sans-serif;
$taskFontStyle:'Roboto Condensed', sans-serif;
$taskFontSize: 20px;
/*

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;

*/




*{
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background: $primaryDarkCollor;
    height: 100%;
    color: #00181e;
}



/********************************************************
MAIN FRAME
********************************************************/

.main-frame {
    margin-top: 5%;
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    background-color: $mainFrameCollor;
    width: 680px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

}



/********************************************************
HEADER
********************************************************/

.main-header{
display: grid;
grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
align-items: center;
justify-content: center !important;
    &__letter{
        margin: 2rem 0 1.5rem 0;
        font-size: 40px;
        font-family: $headerFontStyle;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }
    &--add-task-btn{
        border: 1px solid $primaryDarkCollor;
        background: $mainFrameCollor;
        transition: background-color 200ms ease-in;
        margin: 10px 25px 0px 25px;
        box-shadow: 0px 0px 2px 0px $shadowDarkCollor;
    }
    &--add-task-btn:focus{
        outline: none;
    }

}

.main-header__add-task-btn__active{
    background-color: $primaryDarkCollor !important;
    transition: background-color 300ms ease-out !important;
    color: $mainFrameCollor !important;
    animation: input 3.5s ease-out;
    animation-iteration-count: infinite; 
}



/********************************************************
HR
********************************************************/

.main-hr{
    width: 85%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-color:$primaryDarkCollor;
    box-shadow: none;
}



/********************************************************
INPUT
********************************************************/
.input{
    height: 90px !important;
    margin-bottom: 15px;
}
.input__cell{
    
    font-family: $taskFontStyle;
    font-size: $taskFontSize;
    width: 320px;
    height: 90px;
    color: $mainFrameCollor;
    text-align: center;
    background-color: $primaryDarkCollor;
    border: none;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    animation: input 3.5s ease-out;
    animation-iteration-count: infinite; 
}

@keyframes input {
    0% { 
        color: rgba(255, 255, 255, 0.5);
    }
    50% { 
        color: rgb(255, 255, 255);;
    }
    100% { 
        color: rgba(255, 255, 255, 0.5);
    }
}

/********************************************************
TASK
********************************************************/

.task{
    display: grid;
    grid-template-columns: 22px auto;
    padding-top: 8px;
    width: 320px;
    height: 50px;
    line-height: 25px;
    border-bottom: 1px solid $primaryDarkCollor;
    color: $primaryDarkCollor;
    justify-self: center;
    background-color: $mainFrameCollor;

    &__delete-task{
        color: transparent;
    }
    &__delete-task:hover{
        color: $primaryDarkCollor;
    }
    &__text-span{
        overflow: hidden;
        font-family: $taskFontStyle;
        font-size: $taskFontSize;
    }
}

.task:hover .task__delete-task:not(:hover) {
    color: $primaryDarkCollor;
}
